.masthead {
    height: 30vw;
    min-height: 275px;
    background-image: url('../img/IMG_0592.jpg');
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.masthead h1 {
    font-size: 8vw;
    font-weight: 600;
    color: #fff;
    margin-top: 0px;

}


.button-group {
    text-align: right;
    font-family: Major Mono Display;
    padding-top: 3vw;
    padding-bottom: 3vw;
    text-align: center;
}

.button-group .button {
    position: relative;
    margin: 0 15px;
    padding: 0;
    color: #222;
    font-size: 15px;
    font-weight: 800;
    line-height: 1.6;
    letter-spacing: 0.2px;
    background: none;
    border: none;
    margin-bottom: 6px
}

/* Make a cool hover underline appear */
.button-group .button::before {
    content: '';
    position: absolute;
    height: 8px;
    width: 0;
    bottom: 3px;
    left: 0;
    z-index: -1;
    background-color: #ffdd65;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.button-group .button:hover {
    opacity: 1
}

.button-group .button:hover::before {
    width: 100%
}

.button-group .button.active::before {
    width: 100%
}

/* Remove underline on hover */
a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

/* Responsive image gallery rules begin*/

.image-card-container {
    width: 100vw;
    min-width: 100vw;
    max-width: none;
}

.image-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
    padding-inline-start: 6px;
}

.image-cards li {
    flex-basis: 30vw;
    height: 30vw;
    position: relative;
    cursor: pointer;
}

.image-cards li img {
    object-fit: cover;
    width: 30vw;
    height: 30vw;
    vertical-align: middle;
    border-radius: 0px;
}

.image-cards img:hover {
    opacity: 0.7;
}

@media only screen and (max-width:1120px) {
    .image-cards li img {
        width: 45vw;
        height: 45vw;
    }
    .image-cards li {
        height: 45vw;
    }
    .image-cards::after {
        content: "";
        flex-basis: 45vw;
      }
}

@media only screen and (max-width:767px) {
    .image-cards li img {
        width: 95vw;
        height: 95vw;
    }

    .image-cards li {
        height: 95vw;
    }
}

.image-cards .card-title {
    background-color : #ffffff;
    color: #000;
    text-align: left;
    position: relative;
    margin: 0 auto;
    bottom: 2.5rem;
    padding-right: 5%;
    padding-bottom: 5%;
    font-weight: bold;
    display: inline;
  }