body {
    font-family: 'Crimson Text', serif;
  }

.page-title {
  background-color: black;
  color: white;
}

.card-columns {
  column-gap:0rem;
}

@media screen and (min-width: 575px) and (max-width: 1000px) {
  .card-columns {
    column-count: 2;
  }
}

.article-container {
  display: inline-block;
  border-right: 1px solid rgba(0,0,0,.5);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
  /* padding: 2px 16px;
  width: 90%;
  margin-bottom: 20px; */
}

.article-card {
  /*border-right: 1px solid rgba(0,0,0,.5);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
  /* padding: 2px 16px;
  width: 90%;
  margin-bottom: 20px; */
}

.article-text {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}



.bullet {
  display: inline-block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  -moz-border-radius: 50%; /* or 50% */
  border-radius: 50%; /* or 50% */
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.25em;
}

.direction{
  background-color: rgb(67, 185, 215);
}

@media screen and (min-width: 1000px) {
  .jumbo {
    font-size: 6rem;
  }
}

@media screen and (min-width: 720px) and (max-width: 1000px) {
  .jumbo {
    font-size: 5rem;
  }
}

@media screen and (min-width: 550px) and (max-width: 768px) {
  .jumbo {
    font-size: 4rem;
  }
}

@media screen and (min-width: 430px) and (max-width: 550px) {
  .jumbo {
    font-size: 3rem;
  }
}

@media screen and (max-width: 430px) {
  .jumbo {
    font-size: 2rem;
  }
}

h2 {
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-size: 30pt;
  /* width: 90%;
  padding: 10px 16px; */
}

h3 {
  /* font-family: 'Roboto Slab', serif; */
}

/* On mouse-over, add a deeper shadow
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  background-color: rgb(219, 232, 245)
}*/

a {
  text-decoration: none;
  color: inherit;
}

p {
}

.thumbnail {
  width: 100%;
  height: 215px;
  position: relative;
  overflow: hidden;
}

.thumbnail img {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.subtext {
  font-style: italic;
  color: rgb(240, 132, 123);
}

button {
  padding: 0.35em 1.2em;
  border: 0.1em solid #fc0;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: 'Roboto Slab', serif; */
  font-weight: 500;
  font-size: 24px;
  color: #000;
  text-align: center;
  transition: all 0.2s;
  display: inline-block;
  margin: 0 0.83em;
}

button:hover{
  color:#000;
  background-color:#fc0;
}
